* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #DDD;
}

input,
select,
textarea {
    padding: 8px;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #DDD;
}

.limpar {
    clear: both;
}

.conteudo {
    width: 960px;
    position: relative;
    margin-left: -480px;
    left: 50%;
    background: #ffffff;
}

.topo {
    background: url(../imagens/fundo.png) repeat bottom;
    height: 110px;
    padding: 20px;
    border-bottom: 7px solid #2F0C00;
    margin-bottom: 20px;
}

.topo h1 {
    color: #fff;
    font-size: 1.7em;
    float: left;
    margin-left: 20px;
}

.topo form {
    width: 260px;
    float: right;
    position: relative;
}

.topo form input {
    border: none;
    width: 100%;
}

.logo {
    background: url(../imagens/logo.png) no-repeat;
    width: 70px;
    height: 57px;
    float: left;
    margin-left: 20px;
}

.menu {
    background: #FFF;
    width: 230px;
    float: left;
    border: solid 1px #DDD;
    margin-right: 1.34;
    margin-left: 8px;
}

.menu h2 {
    color: #FFF;
    display: block;
    background: rgb(231, 160, 89) url(../imagens/fundo.png) repeat;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.menu ul {
    height: auto;
}

.menu ul li {
    border-bottom: solid 1px #DDD;
    padding: 10px 0;
    text-transform: uppercase;
}

.menu ul li a {
    display: block;
    padding: 10px 28px;
    font-size: 13px;
    color: #888;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: none;
    transform: translateY(-20px);
    background: #DDD;
    transition: all 0.5s ease;
}

.posicao {
    background-position: 5px;
}

.meio {
    background: #fff;
    width: 700px;
    border: solid 1p #DDD;
    float: left;
    padding: 10px;
    margin-right: 8px;
}

.meio h1 {
    color: #A40000;
    border-bottom: solid 1px #DDD;
    padding: 0 10px 0 0;
    font-weight: 400;
    font-size: 1.2em;
}

.rodape {
    background: url(../imagens/fundo.png) repeat;
    height: 95px;
    border-top: solid 8px #2F0C00;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.rodape p {
    padding-top: 30px;
    font-size: 12px;
}

form.pesquisa input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.pesquisa button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(240, 96, 13);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.pesquisa button:hover {
    background: #0b7dda;
}

.home {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icone {
    width: 260px;
    height: 193px;
    text-decoration: none;
    float: left;
    border: solid 1px #DDD;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    background: #f8f4f4;
    margin-bottom: 50px;
    margin-left: 50px;
}

.icone a:hover {
    text-decoration: none;
    transform: translateY(-20px);
    background: rgb(117, 7, 7);
    transition: all 0.5s ease;
}

.icone p {
    padding-top: 10px;
}

.listagem {
    margin-top: 30px;
}

.listagem table {
    width: 100%;
}

.listagem table td {
    padding: 15px 5px;
    font-size: 12px;
    border-bottom: solid 1px #ddd;
}

.listagem table tr:hover{
    background: #f2f2f2;
}

.listagem .titulo {
    background: #DDD;
}

.listagem .titulo td{
    border-right: 1px solid #ccc;
    font-weight: bold;
    color: #222;
    padding: 10px 0px;
}

.listagem .alterar {
    background: url(../imagens/icon-alterar.png) no-repeat;
    background-size: 80%;
    width: 10px;
    height: 16px;
    float: left;
}

.listagem .excluir {
    background: url(../imagens/icon-excluir.png) no-repeat;
    background-size: 80%;
    width: 10px;
    height: 16px;
    float: left;
}



.numero b {
    background: #01636C;
    padding: 7px;
    display: inline-block;
    color: #FFF;
    font-weight: inherit;
}

.numero span a {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
} 