h2 {
    background: #01636C;
    padding: 7px;
    display: inline-block;
    color: #FFF;
    font-weight: inherit;

}

li {
    background: rgb(211, 228, 230);
    padding: 12px;
    font-weight: inherit;

}